<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
<link th:href="@{/css/footer.css}" href="/css/footer.css" rel="stylesheet" type="text/css" />
</head>

<div class="footer">
  <p>@Copyright:2018-2019 uvsoftgroup</p>
</div>
</html>