<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<link rel="stylesheet"
	href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"
	type="text/css"></link>
<link th:href="@{/css/map.css}" href="/css/map.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
<title>Open Street Map</title>
</head>
<body>
<th:block th:include="fragments/header"></th:block>
	<div id="map" class="map"></div>
	<script src="js/mapjsscript/osm.js"></script>
	<h4>Center Coordinate [Longitude, Latitude]:</h4>
	<div id="formCoordinates"></div>
	<th:block th:include="fragments/footer"></th:block>
</body>
</html>