<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Quick Start - Leaflet</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" ></script>
   <link th:href="@{/css/map.css}" href="/css/map.css" rel="stylesheet" type="text/css" />
  </head>
<body>
<th:block th:include="fragments/header"></th:block>
<div id="coords"></div>
<div id="mapid" class="map"></div>
<script src="js/mapjsscript/leaflet.js"></script>
<div id="formCoordinates"></div>
<th:block th:include="fragments/footer"></th:block>
</body>
</html>
