<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<title>User Role</title>

</head>
 <body>
   <form th:action="${'/geospatialwebapp/userrole/add'}" th:object="${userRole}" method='post'>
	<table class='table table-hover table-responsive'>
		<tr>
		
      <td><b><label th:text="#{label.user.userRefNrId}"></label></b></td>
	 <td><input type='text' name='userRefNrId' class='form-control' value="" th:required="required" /></td>
		
		<td><b><label th:text="#{label.user.userRoleName}"></label></b></td>
			<td><input th:text="${userRoleName}" name='userRoleName' class='form-control' value="" /></td> 
			                
			<td><b><label th:text="#{label.user.userRoleType}"></label></b></td>
			<td><input type='text' name='userRoleType' class='form-control' value="" /></td>
		</tr>
		<tr>
			<td><b><label th:text="#{label.user.userRoleDate}"></label></b></td>
			<td><input data-provide="datepicker"
				name="userRoleDate" data-date-format="yyyy-mm-dd"
				placeholder="Select date"
				value="" /></td>
				
			<td><b><label th:text="#{label.user.userRoleMDate}"></label></b></td>
			<td><input data-provide="datepicker"
				name="userRoleMDate" data-date-format="yyyy-mm-dd"
				placeholder="Select date"
				value="" /></td>
			
		</tr>

	</table>
	
	<input type="submit" id="submitButton" class="buttonSaveSetMap" value="Add or Save New User Role Info"/>
	<input type="reset" id="resetButton" class="buttonSaveSetMap"  value="Reset New User Role Info"/>
	<input type="button" class="buttonSaveSetMap" onclick="location.href='userRoleList'" value="Registered User Role Information" />
	
</form>
</body>
</html>